<server description="default servlet engine">

    <!-- Enable features -->
    <featureManager>
        <feature>servlet-3.1</feature>
    </featureManager>

<httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="-1"/>    
<webApplication contextRoot="/" location="ServletApp.war" />

</server>
